body {
    font-family: 'Open Sans', sans-serif;
    background: url(images/BG1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

#main {
    font-size: 18px;
    justify-content: center;
}

#title {
    color: #1F4138;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 2%;
}

@media (max-width: 1025px) {
    #title {
        font-size: 30px;
        margin: 5% 2% 5% 2%;
    }
}

#description {
    text-align: center;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
}

#box {
    background: linear-gradient(180deg, rgba(8, 16, 29, 0.68) 0%, rgba(8, 16, 29, 0) 147.84%);
    backdrop-filter: blur(5px);
    /* padding: 5%; */
    margin: auto;
    max-width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media (max-width: 1025px) {
    #box {
        max-width: 80%;
    }
}

#survey-form {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    margin-bottom: 10%;
    width: 60%;
}

.name-form, .email-form, .number-form, .dropdown-form, .radio-form, .radio-select, .checkbox-form, .checkbox-select, .comment-form {
    display: flex;
    flex-flow: column;
    text-align: left;
    color: #fff;
    row-gap: 5px;
}

#name, #email, #number {
    width: 100%;
    height: 2%;
    border: 0px;
}